<div class="w-11/12 m-auto mt-6">
    <h1 class="text-lg font-medium">Infographics:</h1>
    <p class="mt-2">
        While you may not think of an infographic as a piece of content writing, the truth is that infographics are a combination of visual and written. Think about different statistics. Or interesting facts about your company or products, and use those to create infographics to distribute to your social media channels. For a simpler infographics, you can try creating a comparison sheet. A simple chart that compares your products to others can help educate your customers and make the case for your product.
    </p>
    <h1 class="text-lg font-medium mt-4">Ebooks:</h1>
    <p class="mt-2">
        Creating ebooks for your customers is a great way to offer in-depth explorations of your products and services. This is a great educational tool and can help you to convince potential customers to convert to actual customers. Content writing for these pieces can be more technical, but make sure that you keep the jargon and specialized vocabulary to a minimum or explain it so that you bring your audience along with you.
    </p>
    <h1 class="text-lg font-medium mt-4">Case Studies:</h1>
    <p>{{paragraph}}</p>
    
</div>

