
<div>
    <div class="bg-gray-100 py-4 shadow">
        <div class="w-11/12 m-auto flex justify-between"> 
            <div class="rounded-full w-12 h-12 flex justify-center items-center bg-blue-200  border border-blue-300 capetalize" >
                HN
            </div>
            <div class="flex justify-between items-center gap-6">
                <div class="text-lg font-medium text-blue-400 cursor-pointer" routerLink="/">Home</div>
                <div class="text-lg font-medium text-blue-400 cursor-pointer" routerLink="about">About</div>
            </div>
            <div><div id="google_translate_element"></div></div>
        </div>

    </div>
    
</div>


    <!-- <a id="langChange"><div class="notranslate"><p id="language"></p></div></a> -->

    
  <!-- <div id="google_translate_element">
    <div class="custom-dropdown">
      <select class="goog-te-combo" (change)="changeLanguage($event)">
        <option value="en">English</option>
        <option value="ar">العربية</option>
      </select>
    </div>
  </div> -->

<!-- Toolbar -->
<!-- <div>
  this is angular
</div>
<div class="">
  this is angular
</div>
<div>
  this is angular
</div>
<div>
  this is angular
</div>
<div>
  this is angular
</div>
<div>
  this is angular
</div> -->


<router-outlet></router-outlet>
