
<div id="google_translate_element"></div>
    <!-- <a id="langChange"><div class="notranslate"><p id="language"></p></div></a> -->

    
  <!-- <div id="google_translate_element">
    <div class="custom-dropdown">
      <select class="goog-te-combo" (change)="changeLanguage($event)">
        <option value="en">English</option>
        <option value="ar">العربية</option>
      </select>
    </div>
  </div> -->

<!-- Toolbar -->
<!-- <div>
  this is angular
</div>
<div class="">
  this is angular
</div>
<div>
  this is angular
</div>
<div>
  this is angular
</div>
<div>
  this is angular
</div>
<div>
  this is angular
</div> -->
<div class=" bg-gray-200"></div>

<router-outlet></router-outlet>
