<div class="w-11/12 m-auto mt-6">
    <h1 class="text-lg font-medium">Social Media Posts:</h1>
    <p class="mt-2">
        Creating social media posts is a great way to hone your content writing skills. Since posts are typically very short, snappy, and quick, you can easily try out different styles of writing and see what people respond to. It’s easy to change direction and adapt if you need to tweak your writing style since social media posts are typically fluid and changeable by nature. You can also practice A/B testing with your social media ads—try writing two different posts and sending it to similar demographics and see which one performs better.

        Before you write social media posts, make sure to check character limits as well as the demographics of customers who use each platform. This will help you word the post for each platform in a way that will attract the most potential customers.
    </p>
    <h1 class="text-lg font-medium mt-4">Newsletters and Emails:</h1>
    <p class="mt-2">
        One thing that sets newsletters and customer emails apart from other types of content writing is the fact that typically your audience for these pieces of content are people who are already customers and familiar or loyal to your brand. Offering unique content that they cannot get other places can help keep their interest and make them pay attention to your emails.
    </p>
    <h1 class="text-lg font-medium mt-4">Video Content:</h1>
    <p class="mt-2">
        It may seem strange to think about videos as a place where you need content writing, but the truth is that your videos will be much more successful if you script them before filming. Writing out the conversation points or scripting the entire video is a great way to make sure the videos stay on topic and cover what they need to cover. Think about your goals when creating video content and consider writing out outlines or full scripts if necessary. Sometimes people can be nervous about being on camera, and having a script or loose talking points can help take the anxiety out of what to say.
    </p>
</div>

